    #wrapper{
    font-family: Hind,sans-serif;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: lightblue;
    position: sticky;
    top: 10;
    background-attachment: fixed;
    }

    body {
        margin: 0;
    }