.container{
    display: grid;
    background-color: beige;
}

.languageBar {
    display: grid;
    text-align: center;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: 100px 300px;
    grid-gap: 10px;
}

.languageBar p{
    text-align: center;
}



