

.bodyContainer{
    display: grid;
    margin: 20px;
    align-content: space-around;
    justify-content: space-between;
}
.languageBar p{
    text-align: center;
    border-left: 1px solid;
    border-right: 1px solid;
}

.innerContainer{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    text-align: center;
    background-color: #88BDBC;

}

.education{
    font-size: 30px;
    font-weight: normal; 
}

.backStory{
    font-size: 20px;
    font-weight: normal;
    margin-right: 100px;
    margin-bottom: 100px;
}

/* .iCitem1{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    /* grid-template-rows: 100px 300px; */
/* } */ 


