.bodyContainer{
    display: grid;
    background-color: beige;
}

.languageBar {
    background-color: aqua;
    display: grid;
    text-align: center;
    grid-template-columns: auto auto auto auto auto auto auto;
    /* grid-template-rows: 100px 300px; */
    grid-gap: 10px;
}

.languageBar p{
    text-align: center;
}

.innerContainer{
    margin-top: 20px;
    font-size: 50px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    text-align: center;
}

/* .iCitem1{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    /* grid-template-rows: 100px 300px; */
/* } */ 


