.wrapper{
    display: grid;
    background-image: url(../images/headRaw.jpg);
    /* width: 1800px; */
    height: 1000px;
    background-repeat: no-repeat;
    background-color: red;
}

.item1 {
    font-size:  30px;
    margin-top: 50px;
    text-align: left;
    margin-left: 30px;
    /* border-bottom: 1px solid rgba(4, 0, 0, 0.4); */
}

.itemText{
    font-size: 50px;
    color: white;
}

.item2{
    text-align: center;
}

.icons{
    margin: 20px;
}