.container{
    display: grid;
    text-align: center;
    grid-template-columns: auto auto auto auto auto;
    /* grid-template-rows: 100px 300px; */
    position: sticky;
    top: 0;
    /* background-color: blue; */
}

.dot:hover{
  cursor: pointer;
  fill: red;
}

.container h3{
    padding: 30px;
    margin: -20px;
    text-align: center;
    background-color: #5D5C69;
    color: white;
}

.container h3:hover{
  cursor: pointer;
}