.container{
    display: grid;
    text-align: center;
    grid-template-columns: auto auto auto auto auto;
    /* grid-template-rows: 100px 300px; */
    position: sticky;
    top: 0px;
}

.container h2 {
    padding: 30px;
    text-align: center;
    background-color: red; 
}

.container h2:hover{
  cursor: pointer;
}

/* .container h2::after {
    
  } */