.skills{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    margin-top: 10px;
    margin-right: 5px;
    background-color: #88BDBC;
    padding-left: 100px
}

.rating{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.rating > div {
  background-color: red;
}

.square {
  height: 50px;
  width: 50px;
  background-color: gray;
}